
.deleteCan {
    cursor: pointer;
}
.deleteCan:hover {
    background-color: #f11d1d;
    padding: 0.2rem;
}
.list-three  {
    width: 320px;
    height: 300px;
    border: 20px ridge #ccc;
    overflow-y: scroll;
    margin-top: 1rem;
}
/* .list-two .list-one{
    width: 320px;
    height: 350px;
    border: 3px groove #ccc;
} */


table {
    width: 100%;
    border-collapse: collapse;
    }

    tr {
        border-bottom: 1px solid #ddd; /* Horizontal line between rows */
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }